@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section aboutheader {
    <partial name="_AboutHeader">
    }


    <div class="row my-4">
        <div class="col-6 border-end">
            <img src="~/img/bilgeshop.png" class="img-fluid rounded" />
        </div>
        <div class="col-6">
            <p>
                Bilgeshop, modanın güncel ritmini yakalamak ve tarzınıza yepyeni bir boyut kazandırmak için tasarlanmış bir online alışveriş deneyimi sunuyor. Bizler, stilinizi ifade etmenizde size yardımcı olmak için buradayız ve en son trendleri ve klasikleri bir araya getirerek, size zarif, rahat ve özgün seçenekler sunuyoruz.
            </p>
            <p>
                Vizyonumuz, her yaş, her beden ve her tarza hitap eden geniş bir ürün yelpazesi sunarak, herkesin kendini ifade etmesine olanak sağlamaktır. Mağazamızda bulunan ürünler, dikkatli bir şekilde seçilmiş ve kalite standartlarına uyan ürünlerdir. Moda dünyasındaki değişen trendleri takip ederken, müşteri memnuniyetini her zaman öncelikli tutuyoruz.
            </p>
            <p>
                İhtiyacınız olan her şeyi bulmak için mağazamızı ziyaret edin veya online alışveriş yapın. Bizimle iletişime geçmekten çekinmeyin, sizlere yardımcı olmaktan mutluluk duyarız.
            </p>
            <p>
                Bilgeshop'u tercih ettiğiniz için, Teşekkür ederiz.
            </p>
        </div>
    </div>
