
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb my-4">
    <li class="breadcrumb-item active">Anasayfa</li>
</ol>

<h1>Index</h1>

