<div class="position-relative h-50">
    <img src="~/img/blog-header.jpg" class="img-fluid" />
    <div class="container ">
        <div class="position-absolute top-50 start-50 translate-middle bg-dark w-100 h-100 opacity-25">
        </div>
        <div class="position-absolute top-50 start-50 translate-middle fst-italic text-white text-center">
            <h1>#Blog</h1>
            <h4>Daha Fazlasını Oku.</h4>
        </div>
    </div>
</div>
