<div class="" style="background-color: #E4E6F4 !important;">
    <div class="container position-relative">
        <img src="~/img/shop-headers.png" class="img-fluid" />
        <div class="position-absolute top-50 start-50 translate-middle bg-dark w-100 h-100 opacity-25">
        </div>
        <div class="position-absolute top-50 start-50 translate-middle fst-italic text-white text-center">
            <h1>#Sonbaharİndirimleri</h1>
            <h4>%70'e varan indirimler</h4>
        </div>
    </div>
</div>