
<div class="text-end">
    <button type="button" class="btn btn-outline-light me-2" id="btnGirisYap">Giriş Yap</button>
    <a type="button" class="btn btn-warning" asp-controller="Auth" asp-action="Register">Kayıt Ol</a>
</div>
