@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
}


.btn-gotop {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 5px;
    border-radius: 50%;
    color: #000;
    opacity: 0;
    transition: opacity 0.5s;
    text-decoration: none;
    cursor: pointer;
}

    .btn-gotop.show {
        opacity: 1;
    }

    .btn-gotop i {
        font-size: 35px;
    }


        .btn-gotop i:hover {
            transition: all 0.3s ease-out;
            color: #CE9544;
        }
